














# DO NOT REMOVE THIS LINE AND THE LINES BELOW ERRORPAGEID:eSyduX
ErrorDocument 404 /404.html
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE eSyduX:ERRORPAGEID


# DO NOT REMOVE THIS LINE AND THE LINES BELOW ERRORPAGEID:Heduqa
ErrorDocument 403 /403.html
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE Heduqa:ERRORPAGEID

<FilesMatch "\.(?i:rar)$">
  ForceType application/octet-stream
  Header set Content-Disposition attachment
</FilesMatch>


# DO NOT REMOVE THIS LINE AND THE LINES BELOW ERRORPAGEID:jysuLa
ErrorDocument 401 /401.html
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE jysuLa:ERRORPAGEID


# DO NOT REMOVE THIS LINE AND THE LINES BELOW ERRORPAGEID:TyTeMa
ErrorDocument 400 /400.html
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE TyTeMa:ERRORPAGEID


# DO NOT REMOVE THIS LINE AND THE LINES BELOW ERRORPAGEID:uGeVaL
ErrorDocument 500 /500.html
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE uGeVaL:ERRORPAGEID

